<h1>Viewing the <%= @club.name %> club</h1>
<%= image_tag @club.image_url, class: "club-banner-image" %>
<%= render "membership_button", club: @club %>
<div class="club-members">
  <%= render partial: "user_sample", collection: @club.user_sample %>
</div>

