<div class="new-course-entry">
<%= image_tag "course_thumbnail.png" %>
<strong><%= link_to new_course_entry.name,
  [new_course_entry.area, new_course_entry.course] %></strong>
<%= new_course_entry.description %>
</div>
