<table>
  <thead>
    <tr>
      <td>Course Name</td>
      <td>Course Distance(meters)</td>
      <td>Time</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    <%= render "user_top_time", time: user_top_times_table %>
  </tbody>
</table>
