<table class="course-listing">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Distance(meters)</th>
      <th>Course Creator</th>
      <th>Course Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render courses %>
  </tbody>
</table>
