<%= form_for [@area, @course] do |form| %>
  <%= form.label :name, "Course Name: " %>
  <%= form.text_field :name %>
<% end %>
<div id="map-pane" data-id="<%= @area.id %>"></div>
<div id="directions-pane"></div>
<button id="get-directions">Get Directions</button>
<button id="save-route" disabled="true">Save Route</button>
