.course-listing td {
  background-color: #F1F1F1;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.course-listing {
  border-spacing: 1px 8px;
}

td.course-listing-description {
  text-align: left;
}

.course-listing-description {
  max-width: 400px;
  overflow: scroll;
}

.desc {
  height: 55px;
  margin: 0;
}

.course-listing-name {
  max-width: 300px;
}

.course-listing-distance {
  max-width: 150px;
}

.course-listing-creator {
  max-width: 200px;
}
